body {
  text-align: center;
  margin: 10px 100px;
  border: 1px solid #eee;
  /* max-width: fit-content; */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  line-height: 2.5rem;
  padding: 50px;
}

form,
ul {
  text-align: center;
  margin: auto;
  border: 1px solid #eee;
  max-width: fit-content;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  line-height: 2.5rem;
  padding: 50px;
  /* align-content: space-between; */
  justify-content: space-between;
  /* text-align: left; */
}

ul {
  list-style: square outside none;
  /* list-style-position: inside; */
  text-align: center;
}

li {
  display: flex;
  align-items: center;
  border: 1px #ccc;
}

button {
  text-align: center;
  border: 1px solid white;
  margin: 20px;
  cursor: pointer;
  width: 100px;
  height: 30px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
